
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    
}
/* em sitede boyut olarak küçülüp büyümeye göre
boyut belirtire. Yüzde de dinamiğe dahildir. Ancak
pixel gibi birimler statiktir. Ayrıca em her kullanışta kalıtım getirir.
Yani ilki body 2em h1 2em yaparsan h1 4 em olur. rem de bu kullanım söz konusu değildir
 kök hücredekine göre em belirler
 1em=16px */
h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}


.top-container {
    
    background-color: #e4f9f5;
    position: relative;
    padding-top:100px
}

.middle-container {
    
}

.bottom-container {
    }

.pro {
    text-decoration: underline;
}

.bottom-cloud {

position: absolute;
top: 300px;
left: 300px;
}

.top-cloud {
    position:absolute;
    right: 300px;
    top: 50px;
}

.murat-candan {
    height: 200px ;
}

.underwater {
    height: 200px;
}

.agricultar {

    height: 200px;
}

a {
    color: #11999E;
}


